#---
Language: Cpp
BasedOnStyle: WebKit
AlignTrailingComments: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: true
IndentCaseLabels: false
BreakBeforeBraces: Linux
PointerAlignment: Right
Standard: Cpp11
TabWidth: 4
UseTab: Never
ColumnLimit: 0
#...